


html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}
/* deathstar background img */
body {
  background-image: url("http://sfwallpaper.com/images/star-wars-death-star-wallpaper-15.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}


/* canvas div */
#canvas {
  height: 810px;
  margin: 0 20%;
  width: 1000px;
  background-color: transparent;
  border: 2px solid yellow;
  position: relative;
}
/* title div */
.title {
  height: 20px;
}

#game-title {
  color: yellow;
  font-size: 5em;
  position: absolute;
  left: 5%;
  top: -100px;
  margin-bottom: 0px;
}
/* scoreboard div */
.scoreboard {
  height: 100px;
  width: 1000px;
  color: yellow;
  display: flex;
  justify-content: space-around;
  font-size: 3em;
  position: absolute;
  top: 770px;
  left: 290px;
}


/* game message div */
.game-message {
  height: 100px;
  color: yellow;

  font-size: 3em;
  margin: 100px 20px 0;
  text-align: center

}

#start {
  position: absolute;
  left: 370px;
  top: 220px;
  font-size: 3em;
  color: yellow;
  background-color: black;
  border-radius: 30px;
  border-color: yellow;
  border-width: thick;
  outline: none;

}
/* playing field div */
.play-field {
  width: 1000px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 350px;
  display: none;
}

.card {
  background-image: url("./assets/uncle-luke.jpg");
  background-size: cover;
}

.selected {
  border: 2px yellow solid
}


/*.card {
  z-index: 0;
}

/* back of card */
/*.hide {
  background-image: url("./assets/uncle-luke.jpg");
  background-size: cover;
}

/* playing field rows & columns */
.row-1 {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-2 {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-3 {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-1 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-2 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-3 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-4 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-5 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-6 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}
