


html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("http://sfwallpaper.com/images/star-wars-death-star-wallpaper-15.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}


/* canvas div */
#canvas {
  height: 810px;
  margin: 0 20%;
  width: 1000px;
  background-color: transparent;
  border: 2px solid yellow;
}
/* title div */
.title {
  height: 100px;
}

#game-title {
  color: yellow;
  font-size: 5em;
  position: absolute;
  left: 450px;
  top: -100px;
}
/* scoreboard div */
.scoreboard {
  height: 100px;
  color: yellow;
  display: flex;
  justify-content: space-around;
  font-size: 3em;
}

#turns {
  position: absolute;
  left: 430px;
  top: 80px;
}

#score {
  position: absolute;
  left: 1090px;
  top: 85px;
}
/* game message div */
.game-message {
  height: 100px;
}

#start {
  position: absolute;
  left: 740px;
  top: 230px;
  font-size: 3em;
  color: yellow;
  background-color: black;
  border-radius: 30px;
  border-color: yellow;
  border-width: thick;
  outline: none;
}
/* playing field div */
.play-field {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
  background-image: url("./assets/uncle-luke.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* playing field rows & columns */
.row-1 {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-2 {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-3 {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-1 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-2 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-3 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-4 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-5 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.col-6 {
  width: 150px;
  height: 150px;
  border: solid 2px antiquewhite;
}

.show {
  background-color: pink;

}
